In [1]:
#%pip install davos
import davos

In [2]:
smuggle pandas as pd
smuggle numpy as np
smuggle os

In [3]:
current_directory = os.getcwd()
new_directory = "/Users/suelim/Documents/Research/Evaluation_Vaping_Messages/data/02_Data/Study 2"
os.chdir(new_directory)

In [ ]:
df = pd.read_csv("./01_raw_data_anonymized/study2_prolific_anonymized.csv")

In [ ]:
# Identify pairs of columns to combine based on the mapping you provided
pairs = [("C_Attention_Check1", "T_Attention_Check1")
] + [("C_Message Rank", "T_Message Ranking")
] + [("C_Message" + str(i), "T_Message" + str(i)) for i in range(1, 6)
] + [
    ("C_Dis_AI" + str(i), "T_Dis_AI" + str(i) + "_1") for i in range(1, 16)
] + [
    ("C_Dis_Hum" + str(i), "T_Dis_Hum" + str(i) + "_1") for i in range(1, 16)
] + [
    ("C_Con_AI" + str(i), "T_Con_AI" + str(i) + "_1") for i in range(1, 16)
] + [
    ("C_Con_Hum" + str(i), "T_Con_Hum" + str(i) + "_1") for i in range(1, 16)
] + [
    ("C_Unp_AI" + str(i), "T_Unp_AI" + str(i) + "_1") for i in range(1, 16)
] + [
    ("C_Unp_Hum" + str(i), "T_Unp_Hum" + str(i) + "_1") for i in range(1, 16)
] 

# Create new columns without modifying the original DataFrame in a loop
new_cols = {}
for c_col, t_col in pairs:
    combined_col_name = c_col.replace('C_', '')
    new_cols[combined_col_name] = df[c_col].fillna(df[t_col])

# Concatenate the new columns to the original DataFrame
df = pd.concat([df, pd.DataFrame(new_cols)], axis=1)

In [ ]:
df2 = df
cols2 = df2.columns.tolist()
cols2.insert(0, cols2.pop(cols2.index('Experimental_Group')))
df2 = df2[cols2]
df2['Experimental_Group'] = df2['Experimental_Group'].map({0: 'Not Disclosed', 1: 'Disclosed'})
df2["Duration (in seconds)"] = pd.to_numeric(df2["Duration (in seconds)"])
df2 = df2[(df2["Duration (in seconds)"] > 300) & (df2["Finished"] == 1) & (df2["state of residence"] == 22) & (df2["Attention_Check1"] == 2) & (df2["Mani_check_1"] == 5) & (df2["Age"] != "CONSENT_REVOKED")]
# Find the index positions of 'Finished' and 'Age'
Finished_idx = cols2.index('Finished')
Age_idx = cols2.index('Age')
# Reorder the columns
new_cols_order = cols2[:Finished_idx + 1] + cols2[Age_idx:] + cols2[Finished_idx + 1:Age_idx]
# Reassign the columns to the DataFrame based on the new order
df2 = df2[new_cols_order]
df2

In [ ]:
df2.to_csv('./02_cleaned_data_file/study2_prolific_cleaned.csv', index=False)

In [ ]:
df_sona = pd.read_csv("./01_raw_data_anonymized/study2_sona_anonymized.csv")

In [ ]:
cols_sona = df_sona.columns.tolist()

pairs2 = [("C_Message Rank", "T_Message Ranking")
] + [("C_Message" + str(i), "T_Message" + str(i)) for i in range(1, 6)
] + [
    ("C_Dis_AI" + str(i), "T_Dis_AI" + str(i) + "_1") for i in range(1, 16)
] + [
    ("C_Dis_Hum" + str(i), "T_Dis_Hum" + str(i) + "_1") for i in range(1, 16)
] + [
    ("C_Con_AI" + str(i), "T_Con_AI" + str(i) + "_1") for i in range(1, 16)
] + [
    ("C_Con_Hum" + str(i), "T_Con_Hum" + str(i) + "_1") for i in range(1, 16)
] + [
    ("C_Unp_AI" + str(i), "T_Unp_AI" + str(i) + "_1") for i in range(1, 16)
] + [
    ("C_Unp_Hum" + str(i), "T_Unp_Hum" + str(i) + "_1") for i in range(1, 16)
] 

# Create new columns without modifying the original DataFrame in a loop
new_cols_sona = {}
for c_col, t_col in pairs2:
    combined_col_name = c_col.replace('C_', '')
    new_cols_sona[combined_col_name] = df_sona[c_col].fillna(df_sona[t_col])

# Concatenate the new columns to the original DataFrame
df_sona = pd.concat([df_sona, pd.DataFrame(new_cols_sona)], axis=1)

In [ ]:
df_sona2 = df_sona
cols_sona2 = df_sona2.columns.tolist()
cols_sona2.insert(0, cols_sona2.pop(cols_sona2.index('Experimental_Group')))
df_sona2 = df_sona2[cols_sona2]
df_sona2 ['Experimental_Group'] = df_sona2 ['Experimental_Group'].map({0: 'Not Disclosed', 1: 'Disclosed'})
df_sona2["Duration (in seconds)"] = pd.to_numeric(df_sona2["Duration (in seconds)"])
df_sona2 = df_sona2[(df_sona2["Duration (in seconds)"] > 300) & (df_sona2["Finished"] == 1) & (df_sona2["Mani_check_1"] == 5)]
# Find the index positions of 'Finished' and 'Age'
sona_Finished_idx = cols_sona2.index('Finished')
sona_age_idx = cols_sona2.index('Age')
# Reorder the columns
new_cols_order2 = cols_sona2[:sona_Finished_idx + 1] + cols_sona2[sona_age_idx:] + cols_sona2[sona_Finished_idx + 1:sona_age_idx]
# Reassign the columns to the DataFrame based on the new order
df_sona2 = df_sona2[new_cols_order2]
df_sona2

In [ ]:
df_sona2.to_csv('./02_cleaned_data_file/study2_sona_cleaned.csv', index=False)

In [35]:
prolific = pd.read_csv("./02_cleaned_data_file/study2_prolific_cleaned.csv")

In [36]:
selected_columns = [0] + list(range(5,7)) + list(range(8, 104)) + list(range(299, 311)) + list(range(312, 320))
prolific_cleaned = prolific.iloc[:, selected_columns]
prolific_cleaned.head()

,Experimental_Group,Age,Sex,Message Rank,Message1,Message2,Message3,Message4,Message5,Dis_AI1,...,Per_AI11_1,Per_AI12_1,Per_AI13_1,Per_AI14_1,Per_AI15_1,Per_AI16_1,Per_AI17_1,Per_AI18_1,Per_AI19_1,Per_AI20_1
0,Disclosed,38.0,Female,"7,9,11,13,15",7.0,9.0,11.0,13.0,15.0,4.0,...,5.0,5.0,1.0,5.0,1.0,1.0,3.0,4.0,1.0,2.0
1,Not Disclosed,44.0,Female,"4,6,13,21,31",4.0,6.0,13.0,21.0,31.0,5.0,...,4.0,3.0,1.0,4.0,4.0,1.0,3.0,4.0,3.0,4.0
2,Disclosed,35.0,Female,"22,24,25,28,29",22.0,24.0,25.0,28.0,29.0,3.0,...,3.0,3.0,1.0,3.0,4.0,3.0,3.0,3.0,5.0,3.0
3,Not Disclosed,42.0,Female,"6,12,13,15,29",6.0,12.0,13.0,15.0,29.0,5.0,...,3.0,3.0,4.0,4.0,2.0,4.0,3.0,4.0,4.0,5.0
4,Disclosed,47.0,Female,"6,7,9,15,24",6.0,7.0,9.0,15.0,24.0,5.0,...,4.0,5.0,4.0,5.0,4.0,4.0,5.0,4.0,3.0,3.0

In [37]:
sona = pd.read_csv("./02_cleaned_data_file/study2_sona_cleaned.csv")

In [38]:
selected_columns2 = [0] + list(range(5, 103)) + list(range(295, 307)) + list(range(308, 316))
sona_cleaned = sona.iloc[:, selected_columns2]
sona_cleaned.head()

,Experimental_Group,Age,Sex,Message Rank,Message1,Message2,Message3,Message4,Message5,Dis_AI1,...,Per_AI11_1,Per_AI12_1,Per_AI13_1,Per_AI14_1,Per_AI15_1,Per_AI16_1,Per_AI17_1,Per_AI18_1,Per_AI19_1,Per_AI20_1
0,Not Disclosed,21.0,Male,"11,12,19,28,29",11.0,12.0,19.0,28.0,29.0,4.0,...,5.0,5.0,5.0,5.0,1.0,5.0,5.0,5.0,1.0,5.0
1,Disclosed,22.0,Male,"4,9,13,15,31",4.0,9.0,13.0,15.0,31.0,2.0,...,4.0,4.0,5.0,4.0,4.0,3.0,3.0,4.0,2.0,4.0
2,Not Disclosed,21.0,Male,"4,6,7,13,31",4.0,6.0,7.0,13.0,31.0,5.0,...,4.0,3.0,1.0,4.0,4.0,2.0,2.0,1.0,1.0,3.0
3,Not Disclosed,19.0,Male,"6,11,18,28,23",6.0,11.0,18.0,28.0,23.0,5.0,...,4.0,4.0,2.0,4.0,2.0,3.0,3.0,3.0,3.0,5.0
4,Disclosed,20.0,Female,"6,9,22,24,28",6.0,9.0,22.0,24.0,28.0,5.0,...,4.0,3.0,4.0,2.0,4.0,3.0,4.0,3.0,4.0,2.0

In [39]:
combined_df = pd.concat([prolific_cleaned, sona_cleaned], ignore_index=True, sort=False)
combined_df['Participant'] = range(1, len(combined_df) + 1)
cols_comb = combined_df.columns.tolist()
cols_comb.insert(0, cols_comb.pop(cols_comb.index('Participant')))
combined_df = combined_df[cols_comb]
combined_df

,Participant,Experimental_Group,Age,Sex,Message Rank,Message1,Message2,Message3,Message4,Message5,...,Per_AI11_1,Per_AI12_1,Per_AI13_1,Per_AI14_1,Per_AI15_1,Per_AI16_1,Per_AI17_1,Per_AI18_1,Per_AI19_1,Per_AI20_1
0,1,Disclosed,38.0,Female,"7,9,11,13,15",7.0,9.0,11.0,13.0,15.0,...,5.0,5.0,1.0,5.0,1.0,1.0,3.0,4.0,1.0,2.0
1,2,Not Disclosed,44.0,Female,"4,6,13,21,31",4.0,6.0,13.0,21.0,31.0,...,4.0,3.0,1.0,4.0,4.0,1.0,3.0,4.0,3.0,4.0
2,3,Disclosed,35.0,Female,"22,24,25,28,29",22.0,24.0,25.0,28.0,29.0,...,3.0,3.0,1.0,3.0,4.0,3.0,3.0,3.0,5.0,3.0
3,4,Not Disclosed,42.0,Female,"6,12,13,15,29",6.0,12.0,13.0,15.0,29.0,...,3.0,3.0,4.0,4.0,2.0,4.0,3.0,4.0,4.0,5.0
4,5,Disclosed,47.0,Female,"6,7,9,15,24",6.0,7.0,9.0,15.0,24.0,...,4.0,5.0,4.0,5.0,4.0,4.0,5.0,4.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,179,Disclosed,21.0,Male,"6,22,26,29,23",6.0,22.0,26.0,29.0,23.0,...,4.0,5.0,5.0,5.0,3.0,3.0,5.0,5.0,3.0,5.0
179,180,Disclosed,21.0,Female,"15,19,24,25,23",15.0,19.0,24.0,25.0,23.0,...,4.0,4.0,2.0,4.0,3.0,2.0,1.0,1.0,4.0,4.0
180,181,Not Disclosed,20.0,Female,"6,12,17,29,30",6.0,12.0,17.0,29.0,30.0,...,4.0,3.0,5.0,5.0,4.0,4.0,4.0,3.0,4.0,3.0
181,182,Not Disclosed,26.0,Female,"6,7,14,27,32",6.0,7.0,14.0,27.0,32.0,...,4.0,4.0,1.0,5.0,4.0,1.0,2.0,3.0,1.0,2.0
182,183,Disclosed,21.0,Female,"4,6,7,9,25",4.0,6.0,7.0,9.0,25.0,...,3.0,1.0,1.0,3.0,5.0,2.0,1.0,1.0,5.0,3.0

In [40]:
combined_df.to_csv('./02_cleaned_data_file/study2_data_file.csv', index=False)